#mainPanel{
    height:800px;
    width:100%;
    background-color:dodgerblue;
    overflow:auto;
}

#registrationFormDiv{
    min-height:450px;
    min-width:800px;
    border:1px solid black;
    border-style:none;
    margin-top:100px;
    margin-left:250px;
}


td{
    width:185px;
    padding:5px 5px 5px 5px;
    margin-left:50px;
}

.txtBox{
    width:150px;
    height:25px;
    color:white;
}

#dataGrid {
    border:1px solid red;
    min-height: 400px;
    width: 100%;
    background-color:yellow;
}

#registeredDataGridView{
    margin-left:200px;
}


